*{
    margin: 0;
    padding: 0;
}
.header{
    height: 56px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed
}
img{
    height: 25px;
    width: 25px;
}
.header-logo{
    padding-left: 10px;
}
.header-logo p{

    font-size: 11px;
    font-weight: bold;
    
    padding-bottom: 6px;
    margin-left: 33px;
    margin-top: -21px;
}
.header-logo h2{

    font-size: 6px;
   
    /* margin-bottom: -13px; */
    /* padding-bottom: 11px; */
    margin-left: 33px;
    margin-top: -21px
}
.header-logo strong{
    padding-bottom: 10px;
}
.navbar-nav > li{
    padding-left:20px;
    padding-right:20px;
  }
.header-btn{
    padding-left: 135px;
   
}
.header-btn .logout{
   margin-left: 10px;
   background-color: seagreen;
   border-color: seagreen;
}
.navbar{
    height: 56px;
    width: 100%; 
}
.btnGroupDrop1 {
    color: seagreen;
    background-color:seagreen;
    border-color:seagreen; /*set the color you want here*/
}
.btnGroupDrop1:hover{
    color: seagreen;
    background-color:seagreen;
    border-color:seagreen; /*set the color you want here*/
}